@import url("https://fonts.googleapis.com/css?family=Lato:700");
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

.block{
  width: 100%;
  display: flex;
  height: 100%;
  border: 2px solid;
}

.logo{
  padding: 0 60px 0 40px;
  border-right: 1px solid #fff;
  z-index: 10;
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.page {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  font-size: calc(var(--font-size) * 1px);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50%;

}
.container {
  height: 100vh;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}
.page {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
}

.text{
  position: relative;
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1{
  width: 200px;
  text-align: start;
  font-size: calc(20px + (9 * (100vw - 1400px)) / 520);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.6s ease 0.2s;
  margin-top: 3rem;
  color: #fff;
}

.mainBlock{
  width: 100%;
}

.language {
  width: 20%;
  margin-top: -1rem;
  z-index: 10;
}

.language button{
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: calc(14px + (2 * (100vw - 1400px)) / 520);
}

.en,
.ru,
.cn{
  border-bottom: 2px solid #fff !important;
}

.divTexts{
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 10;
}

.divTexts span{
  text-align: left;
  margin-left: 50px;
  height: 120px;
  font-size: 133.538px;
  font-family: CeraPro, sans-serif;
  transition: .5s all linear;
}

.divTexts span:nth-child(2){
  margin-left: 170px;
}
.divTexts span:nth-child(3){
  margin-left: 280px;
}

@media (min-width: 768px) {
  .page {
    font-size: 5rem;
  }
}
/* .page:nth-child(n) {
  background: #7e05d7;
}
.page:nth-child(2n) {
  background: #f21e56;
}
.page:nth-child(3n) {
  background: #bd04a9;
} */
.page .char {
  display: inline-block;
  animation-delay: calc(0.25s + var(--char-index) * 0.1s);
  transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}
.text--enter [data-scroll='out'] .char {
  opacity: 0;
  transform: translate(0, -150%);
}
.text--enter .char {
  opacity: 1;
  transform: translate(0, 0);
}
.text--random [data-scroll='out'] .char:nth-of-type(1) {
  transform: translateX(132%) translateY(164%);
}
.text--random [data-scroll='out'] .char:nth-of-type(2) {
  transform: translateX(-99%) translateY(-155%);
}
.text--random [data-scroll='out'] .char:nth-of-type(3) {
  transform: translateX(-235%) translateY(118%);
}
.text--random [data-scroll='out'] .char:nth-of-type(4) {
  transform: translateX(104%) translateY(-153%);
}
.text--random [data-scroll='out'] .char:nth-of-type(5) {
  transform: translateX(42%) translateY(-137%);
}
.text--random [data-scroll='out'] .char:nth-of-type(6) {
  transform: translateX(-225%) translateY(240%);
}
.text--swapsies [data-scroll='in'] .char:nth-of-type(odd),
.text--swapsies [data-scroll='out'] .char:nth-of-type(odd) {
  transform: translateX(100%);
}
.text--swapsies [data-scroll='in'] .char:nth-of-type(even),
.text--swapsies [data-scroll='out'] .char:nth-of-type(even) {
  transform: translateX(-100%);
}
.text--swapsies [data-scroll='in'] .char {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.text--swapsies [data-scroll='in'] .char:nth-of-type(odd) {
  animation-name: swap-left;
}
.text--swapsies [data-scroll='in'] .char:nth-of-type(even) {
  animation-name: swap-right;
}
@-moz-keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-o-keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-moz-keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-o-keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.text--fading [data-scroll='out'] .char {
  opacity: 0;
}
.text--flipping [data-scroll='out'] .char {
  transform: rotateY(180deg);
}
