@import url("https://fonts.googleapis.com/css?family=Lato:700");
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: #007aff;
  min-height: 100vh;
  overflow-x: hidden;
}

.block {
  width: 100%;
  display: flex;
  height: 100%;
}

.smLogo{
  display: none;
}

.logo {
  padding: 0 60px 0 40px;
  border-right: 1px solid #fff;
  z-index: 10;
  position: fixed;
  height: 100vh;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.page {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  font-size: calc(var(--font-size) * 1px);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50%;
}
.container {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.container .page {
  margin-top: 0;
}

.page {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.text {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  width: 200px;
  text-align: start;
  font-size: calc(20px + (9 * (100vw - 1400px)) / 520);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.6s ease 0.2s;
  margin-top: 3rem;
  margin-right: 20%;
  color: #fff;
  margin-left: auto;
}

.mainBlock {
  width: 65%;
  margin-left: auto;
}

.language {
  width: 20%;
  margin-top: -1rem;
  z-index: 10;
  position: fixed;
}

.language button {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: calc(14px + (2 * (100vw - 1400px)) / 520);
}

.en,
.ru,
.cn {
  border-bottom: 2px solid #fff !important;
}

.divTexts {
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 10;
}

.divTexts div {
  text-align: left;
  margin-left: 50px;
  height: 120px;
  font-size: 133.538px;
  font-family: CeraPro, sans-serif;
  transition: 0.5s all linear;
}

.divTexts div:nth-child(2) {
  margin-left: 170px;
}
.divTexts div:nth-child(3) {
  margin-left: 280px;
}

.actived::before {
  width: 3.125vw !important;
  margin-left: 0px !important;
  background: white !important;
}

.actived,
.logo a:hover {
  color: #fff !important;
}

.logo a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4.16667vw;
  width: 1.5625vw;
  height: 1px;
  margin-left: 1.5625vw;
  background: rgba(255, 255, 255, 0.5);
  transition: width 0.3s ease 0s, margin 0.3s ease 0s, background 0.5s ease 0s;
}

.logo a {
  --swiper-theme-color: #007aff;
  pointer-events: unset;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 1.38889vh;
  cursor: pointer;
  transition: color 0.5s ease 0s;
  font-size: calc(16px + (2 * (100vw - 1400px)) / 520);
  color: rgba(255, 255, 255, 0.5);
}

.navbarLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
}
.Aboutbtn {
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: calc(14px + (2 * (100vw - 1400px)) / 520);
  padding: 1.85185vh 2.08333vw;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out 0s, border 0.4s ease-in-out 0s,
    color 0.4s ease-in-out 0s, opacity 0.6s ease 0s, visibility 0.6s ease 0s;
  margin-top: 20%;
  margin-left: 30%;
}

.Aboutbtn:hover {
  border-color: rgb(56, 119, 238);
  background: rgb(56, 119, 238);
}

#activity {
  background-image: url(../assets/home/1.jpg);
}

.ecoSystem__body_texts {
  background: url(../assets/home/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  padding-top: 7%;
  width: 100%;
  height: 100vh;
  transition: background-size 0.5s ease-in-out 0s, transform 4s ease-out 0.25s;
}

.ecoSystem {
  width: 30%;
  background-image: url(../assets/home/2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  transition: background-size 0.5s ease-in-out 0s, transform 4s ease-out 0.25s;
}

.ecoSystem:hover .ecoSystem__body_texts {
  background-size:  100% 0;
}

.ecoSystem__body{
  display: flex;
  background-color: #fff;
  margin-left: 19%;

}

.ecoSystem h1 {
  --swiper-theme-color: #007aff;
  pointer-events: unset;
  list-style: none;
  box-sizing: border-box;
  text-transform: inherit;
  text-decoration: inherit;
  margin: 0px;
  font-weight: 800;
  line-height: 1.1;
  font-size: calc(38px + (18 * (100vw - 1400px)) / 520);
  margin-top: auto;
  color: rgb(66, 86, 122);
  position: absolute;
  top: 15.7407vh;
  opacity: 1;
  transition: opacity 0.7s ease-in-out 1.3s, width 0.8s ease-out 1.3s,
    padding-left 0.8s ease-out 1.3s, color 0.4s ease 0.2s;
  width: 25vw;
  padding-left: 0;
}

.ecoSystem h1::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5px;
  height: 100%;
  background: linear-gradient(rgb(56, 119, 238) -5%, rgb(125, 201, 99) 85%);
  transition: opacity 0.4s ease 0.2s;
  left: 0%;
}

.ecoSystem__texts {
  margin: 50% 0 20% 13%;
}

.ecoSystem__texts span,
.ecoSystem__texts p,
.ecoSystem__texts h3 {
  margin: 0;
  width: 100%;
  text-align: left;
}

.ecoSystem__texts span {
  --swiper-theme-color: #007aff;
  pointer-events: unset;
  list-style: none;
  box-sizing: border-box;
  text-transform: inherit;
  text-decoration: inherit;
  margin: 0px;
  color: rgba(56, 119, 238, 0.6);
  font-weight: 800;
  line-height: 0.72;
  transition: color 0.3s ease 0s;
  font-size: calc(36px + (14 * (100vw - 1400px)) / 520);
  display: block;
  padding-bottom: 5.55556vh;
}

.ecoSystem__texts p {
  --swiper-theme-color: #007aff;
  pointer-events: unset;
  list-style: none;
  box-sizing: border-box;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  margin: 0px;
  position: relative;
  color: rgb(66, 86, 122);
  line-height: 1.8;
  font-size: calc(16px + (4 * (100vw - 1400px)) / 520);
  margin-top: 0px;
  padding-bottom: 1.2037vh;
}

.ecoSystem__texts p::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(106, 191, 75, 0.5);
  transition: background 0.3s ease 0s;
}

.ecoSystem__texts h3 {
  --swiper-theme-color: #007aff;
  pointer-events: unset;
  list-style: none;
  box-sizing: border-box;
  text-decoration: inherit;
  margin: 0px;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity 0.6s ease-in-out 0s;
  font-size: calc(20px + (9 * (100vw - 1400px)) / 520);
  display: block;
  width: unset;
  height: unset;
  opacity: 1;
  padding: 0px;
  color: rgb(66, 86, 122);
  margin-top: 2.77778vh;
}

@media (min-width: 768px) {
  .page {
    font-size: 5rem;
  }
}
/* .page:nth-child(n) {
  background: #7e05d7;
}
.page:nth-child(2n) {
  background: #f21e56;
}
.page:nth-child(3n) {
  background: #bd04a9;
} */
.page .char {
  display: inline-block;
  animation-delay: calc(0.25s + var(--char-index) * 0.1s);
  transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}
.text--enter [data-scroll="out"] .char {
  opacity: 0;
  transform: translate(0, -150%);
}
.text--enter .char {
  opacity: 1;
  transform: translate(0, 0);
}
.text--random [data-scroll="out"] .char:nth-of-type(1) {
  transform: translateX(132%) translateY(164%);
}
.text--random [data-scroll="out"] .char:nth-of-type(2) {
  transform: translateX(-99%) translateY(-155%);
}
.text--random [data-scroll="out"] .char:nth-of-type(3) {
  transform: translateX(-235%) translateY(118%);
}
.text--random [data-scroll="out"] .char:nth-of-type(4) {
  transform: translateX(104%) translateY(-153%);
}
.text--random [data-scroll="out"] .char:nth-of-type(5) {
  transform: translateX(42%) translateY(-137%);
}
.text--random [data-scroll="out"] .char:nth-of-type(6) {
  transform: translateX(-225%) translateY(240%);
}
.text--swapsies [data-scroll="in"] .char:nth-of-type(odd),
.text--swapsies [data-scroll="out"] .char:nth-of-type(odd) {
  transform: translateX(100%);
}
.text--swapsies [data-scroll="in"] .char:nth-of-type(even),
.text--swapsies [data-scroll="out"] .char:nth-of-type(even) {
  transform: translateX(-100%);
}
.text--swapsies [data-scroll="in"] .char {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.text--swapsies [data-scroll="in"] .char:nth-of-type(odd) {
  animation-name: swap-left;
}
.text--swapsies [data-scroll="in"] .char:nth-of-type(even) {
  animation-name: swap-right;
}
@-moz-keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-o-keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes swap-right {
  25% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-moz-keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@-o-keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes swap-left {
  25% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.text--fading [data-scroll="out"] .char {
  opacity: 0;
}
.text--flipping [data-scroll="out"] .char {
  transform: rotateY(180deg);
}

.businessPage__body{
  background-image: url(../assets/home/3.jpg);
  background-size: cover;
  padding-left: 20%;
  padding-top: 20%;
  padding-right: 3rem;
  height: 100vh;

}

.businessPage{
  display: flex;
  justify-content: space-around;
}
.businessPage h1{
  font-size: calc(38px + (18 * (100vw - 1400px)) / 520);
  font-weight: 800;
  line-height: 1.1;
  color: #fff;
}

.businessPage div p{
  font-size: calc(16px + (4 * (100vw - 1400px)) / 520);
}

.businessPage div{
  width: 30%;
}

.businessPage div button{
  margin: 0;
}

.businessPageBoxes{
  display: flex;
}

.businessPageBox{
  display: flex;
  align-items: center;
  width: 25%;
  padding: 1rem;
  position: relative;
  background-image: url(../assets/home/boxBg.png);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background 0.3s ease 0s;

}

.businessPageBox:hover{
  background-size: 100% 100%;
}

.businessPageBox h1{
  font-size: calc(14px + (2 * (100vw - 1400px)) / 520);
  margin:  0 15px 0 1rem;
  color: #fff;
  z-index: 10;
}

.businessPageBox p{
  font-size: calc(18px + (7 * (100vw - 1400px)) / 520);
  margin: 0;
  width: 50%;
  text-align: left;
  z-index: 10;

}

@media (min-width:0) and (max-width:1000.9px) {
  .smLogo{
    display: inherit;
  }
  .logo{
    display: none;
  }
  .language,
  .header h1{
    display: none;
  }

  .divTexts{
    width: 100%;
    margin: 30% 0 0 2rem !important;

  }

  .mainBlock{
    margin-left: 0;
    width: 80%;
  }

  .divTexts div{
    font-size: 60px;
    height: 70px;
    margin: 0 !important;
  }

  .Aboutbtn{
    margin-right: 40%;
    margin-left: 0;
    width: 200px;
  }

  .ecoSystem__body{
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .ecoSystem{
    width: 48%;
    height: calc(100vh / 2 - 20px);
  }

  .ecoSystem__body_texts{
    background-size: 0 0;
  }
}