body {
  padding: 0;
  margin: 0;
  background: #89a7df;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-space-align-center {
  width: 20%;
}

.ant-drawer {
  z-index: 1;
}

.ant-drawer-body,
.ant-drawer-header,
.ant-drawer-wrapper-body {
  background: #89a7df;
}

.ant-drawer-header {
  border: none;
  width: 200px;
  margin-left: auto;
}

.ant-drawer-body {
  width: 200px;
  margin: 0 auto;
}

.ant-drawer-header-title{
  justify-content: flex-end;
  margin-top: 3rem;
}

[data-aos][data-aos][data-aos-delay="300"], body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0;
  /* opacity: 1; */
}
